/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* -------------------- Intro component -------------------- */

#intro {
  background-color: #262539;
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

h1 {
  font-size: 4.5em;
  margin: 80px 0 0 0;
}

.hello-react {
  width: 400px;
  padding-bottom: 40px;
}

.react-info {
  font-size: 24px;
  font-weight: 100;
  width: 80%;
  margin: 5px 0 60px 0;
}

.btn {
  background-color: #fff;
  padding: 20px 5px;
  color: #262539;
  width: 160px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 22px;
}

/* -------------------- Description component -------------------- */
